/*font-style*/
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Inter+Tight:ital,wght@1,300&family=Roboto:wght@300;400&display=swap'); 
/*common style*/
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #E5E5E5;
}

 /*top layout styles*/
 main{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .section-title{
    color:#562EFF;
    font-size: 24px;
    margin-top: 3px;
    
 }

 
 .container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
 }
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
border: 1px solid #D1D1D1;
margin-bottom: 27px;
}
/*top blog  styles mutiline*/
.thumbnali img{
    width: 177px;
    height: 177px;

}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-otthor{
    color: #9F9F9F;
    font-size: 16px;
}
.blog{
    display: flex;
}
.blog-otthor a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}

